@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import "tailwindcss";


@theme {
  --font-inter: "Inter", "system-ui", "Avenir", "Helvetica", "Arial", "sans-serif";
  --color-tlnk-blue: #316BFF;
  --color-tlnk-red: #E94747;
  --color-tlnk-green: #6FCF97;
}
